body
{
    font: 20px "Lucida Sans Unicode";
    color: #404040;
    background-color: #FFFFFF;
}

h1
{
    color: #404040;
}

#mainDiv
{
    width:1300px;
    margin-left: auto;
    margin-right: auto;
}

#center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}