a
{
    text-decoration: none;
    color: #6E92EF;
}

a:visited
{
    color: #FF75E5;
}

a:hover
{
    color: #3E68D1;
}

body
{
    font: 18px "Lucida Sans Unicode";
    color: #FFFFFF;
    background-color: #202020;
}

hr
{
    border: 1px solid #303030;
}

h1
{
    color: #FFFFFF;
}

code
{
    font: 14px "Courier New";
    display:inline-block;
    line-height: 1.2em;
}

figcaption
{
    font: 14px "Lucida Sans Unicode";
    color: #DFDFDF;
}

#mainDiv
{
    width:1220px;
    margin-left: auto;
    margin-right: auto;
}

#gamesDiv
{
    width:915px;
    margin-left: auto;
    margin-right: auto;
}

#center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sidebar
{
    font: 14px "Lucida Sans Unicode";
}

#footer
{
    text-align:center;
}

#footer p
{
    margin: auto;
    display: inline-block;
}

#footer a
{
    float: left;
}