table.nav {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
tbody {
    vertical-align: middle;
}


a {
    color: #257DF9;
}
a:visited {
    color: #CC41A7;
}
a:hover {
    color: #e5e5e5;
}

#sidebar a{
    text-decoration: none;
	color: #ffffff;
	/*background-color: #303020;*/
}
#sidebar a:visited {
    color: #ffffff;
}
#sidebar a:hover {
    color: #dddddd;
	text-decoration: underline;
}

.nav span{
	padding: 8px 16px;
    color: #FFFFFF;
}
.nav a{
	text-decoration: none;
    padding: 8px 16px;
    color: #FFFFFF;
    background-color: #304030;
	box-shadow: 5px 5px 5px #252528, -1px -1px 5px #252528;
    border-radius: 5px;
}
.nav a:visited {
    color: #dddddd;
}
.nav a:hover {
    color: #CCCCCC;
    background-color: #2E542E;
}

#backnext a{
	text-decoration: none;
}

img {
	box-shadow: 5px 5px 5px #252528, -1px -1px 5px #252528;
    border-radius: 5px;
}


body
{
    font: 16px "Lucida Sans Unicode";
    color: #FFFFFF;
    background-color: #303035;
	/*background-color: #0D2328;*/
    margin-top:0;
}

hr
{
    border: 1px solid #303030;
}

h1
{
    color: #FFFFFF;
}

code
{
    font: 16px "Courier New";
}
.codeDiv {
    border-radius: 5px;
    background-color: #111111;
    padding: 5px 10px;
	box-shadow: 5px 5px 5px #111111, -1px -1px 5px #111111;
	margin-bottom:10px;
}

#mainDiv
{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

#gamesDiv
{
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}

#center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sidebar
{
    font: 14px "Lucida Sans Unicode";
    width:210px;
	padding-left:13px;
	padding-right:5px;
    padding-top:10px;
    /*float:right;
    padding-top:50px;
    padding-left:10px;
    padding-bottom:10px;*/
    background-color: #303530;
	/*box-shadow: h-offset v-offset blur spread color*/
	box-shadow: 5px 5px 5px #252528, -1px -1px 5px #252528;
	border-radius: 5px;
}

#footer
{
    text-align:center;
}

#footer p
{
    margin: auto;
    display: inline-block;
}

#footer a
{
    float: left;
}